In [83]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, to_date
from pyspark.sql.utils import AnalysisException
import requests
import os
import pandas as pd

In [84]:
# Spark session 초기화
spark = (
    SparkSession.builder.appName("TLC DataSet Analyze")
    .master("local[*]")
    .config("spark.driver.host", "localhost")
    .config("spark.driver.port", "7077")
    .config("spark.ui.port", "4050")
    .config("spark.driver.memory", "15g")
    .config("spark.executor.memory", "15g")
    .getOrCreate()
)

In [85]:
# # 저장할 폴더 경로
# save_folder = "/Users/admin/Desktop/docker/W5M1/parquet_files"
# os.makedirs(save_folder, exist_ok=True)  # 폴더가 없으면 생성

# # 데이터 종류 및 기간 설정
# categories = [
#     "yellow_tripdata"
# ]  # , "green_tripdata", "fhv_tripdata", "fhvhv_tripdata"]

# # 날짜 범위 생성
# months = (
#     pd.date_range(start="2022-05-01", end="2022-08-01", freq="MS")
#     .strftime("%Y-%m")
#     .tolist()
# )

# # URL을 생성하여 데이터를 다운로드 및 저장
# base_url = "https://d37ci6vzurychx.cloudfront.net/trip-data/"
# for category in categories:
#     for month in months:
#         file_name = f"{category}_{month}.parquet"
#         url = f"{base_url}{file_name}"
#         file_path = os.path.join(save_folder, file_name)

#         # 데이터 다운로드
#         response = requests.get(url)

#         # 응답 상태 코드 확인
#         if response.status_code == 200:
#             # 파일을 로컬 폴더에 저장
#             with open(file_path, "wb") as file:
#                 file.write(response.content)
#         else:
#             print(f"Failed to retrieve the data from {url}")

In [86]:
# 데이터 정제
def data_purification(file_name, date):

    # parquet file 읽기
    file_path = f"/Users/admin/Desktop/docker/W5M1/parquet_files/{file_name}_tripdata_{date}.parquet"  # 로컬
    print(f"Attempting to read from: {file_path}")
    try:
        # 파일 읽기
        read_df = spark.read.parquet(file_path)
    except AnalysisException:
        print(f"File not found: {file_path}")
        return None  # 파일이 없으면 None 반환

    # date를 이용해 해당 월의 첫 날과 마지막 날을 계산
    start_date = f"{date}-01"
    end_date = f"{date}-{(pd.Timestamp(start_date) + pd.offsets.MonthEnd(1)).day}"

    # 이상치, 음수값 제거
    read_df = (
        read_df.filter(col("tpep_dropoff_datetime") > col("tpep_pickup_datetime"))
        .filter(col("trip_distance") > 0)
        .filter(col("passenger_count") >= 0)
        .filter(col("fare_amount") >= 0)
        .filter(col("extra") >= 0)
        .filter(col("mta_tax") >= 0)
        .filter(col("tip_amount") >= 0)
        .filter(col("tolls_amount") >= 0)
        .filter(col("improvement_surcharge") >= 0)
        .filter(col("total_amount") >= 0)
        .filter(col("congestion_surcharge") >= 0)
        .filter(col("Airport_fee") >= 0)
        .filter(
            (col("tpep_pickup_datetime") >= start_date)
            & (col("tpep_pickup_datetime") <= end_date)
            & (col("tpep_dropoff_datetime") >= start_date)
            & (col("tpep_dropoff_datetime") <= end_date)
        )
    )

    # 결측치 있는 행 제거
    read_df = read_df.dropna()

    read_df = read_df.withColumn(
        "total_fee",
        (col("total_amount") + col("congestion_surcharge") + col("airport_fee")),
    )

    read_df = read_df.select("tpep_pickup_datetime", "trip_distance", "total_fee")
    return read_df

# TLC 데이터 읽어오기


- job 0 ~ 3 해당
- 분명히 union() 함수가 있는데 지금 job에서는 작동하지 않음
- rdd에 대해 이후에 나올 union도 생각해서 union()자체는 다음으로 미룬듯

In [87]:
# Data 타입, 범위
categories = ["yellow"]  # , "green" , "fhv", "fhvhv"]

# 날짜 범위 생성
months = (
    pd.date_range(start="2022-05-01", end="2022-08-01", freq="MS")
    .strftime("%Y-%m")
    .tolist()
)

# DataFrames 합치기
rdd = None
for category in categories:
    for month in months:
        print(">>>>>", category, month)
        read_df = data_purification(category, month)
        if read_df is not None:  # df가 None이 아닐 때만 결합
            if rdd is None:
                rdd = read_df
            else:
                rdd = rdd.union(read_df)

>>>>> yellow 2022-05
Attempting to read from: /Users/admin/Desktop/docker/W5M1/parquet_files/yellow_tripdata_2022-05.parquet
>>>>> yellow 2022-06
Attempting to read from: /Users/admin/Desktop/docker/W5M1/parquet_files/yellow_tripdata_2022-06.parquet
>>>>> yellow 2022-07
Attempting to read from: /Users/admin/Desktop/docker/W5M1/parquet_files/yellow_tripdata_2022-07.parquet
>>>>> yellow 2022-08
Attempting to read from: /Users/admin/Desktop/docker/W5M1/parquet_files/yellow_tripdata_2022-08.parquet

# 총 여행 수 계산

- job 4~5 해당
- 여기서 job 5에서 union() 실행 후 새로운 Stage로 넘어감
  - union() -> shuffling 일아난 것
- count() - Action

In [88]:
print(f"Total trip count sum: {rdd.count()}")

Total trip count sum: 12356633

# 총 수익 (요금의 합계) 계산

- job 6~7 해당
- 마찬가지로 job 6가 union(), job 7이 union() 이후에 만들어진 새로운 Stage에서 연산 수행

In [89]:
# total_fee 컬럼의 총합 계산
total_fee_sum = rdd.agg(sum("total_fee").alias("total_fee_sum")).collect()[0][
    "total_fee_sum"
]

print(f"Total fee sum: {total_fee_sum}")

Total fee sum: 297069546.05300593

# 평균 여행 거리

- job 8~9 해당
- 마찬가지로 job 8이 union(), job 9가 union() 이후에 만들어진 새로운 Stage에서 연산 수행

In [90]:
# 평균 trip_distance와 trip_duration 계산
average_trip_miles = rdd.agg(
    avg("trip_distance").alias("average_trip_miles"),
).collect()[0]["average_trip_miles"]


print(f"Average trip distance: {average_trip_miles:.2f} miles")

Average trip distance: 3.68 miles

### 하루 단위로 변환

In [91]:
# tpep_pickup_datetime에서 날짜 부분만 추출
groupby_date_rdd = rdd.withColumn("date", to_date(col("tpep_pickup_datetime")))

# 날짜별로 그룹화하여 총 수와 총 total_fee를 계산
groupby_date_rdd = groupby_date_rdd.groupBy("date").agg(
    count("date").alias("total_count"),
    sum("total_fee").alias("total_fee")
)

# 날짜 순으로 정렬
groupby_date_rdd = groupby_date_rdd.orderBy("date")

# 하루의 여행 수 계산

- job 10~13 해당
- 위의 union()과 비슷하게 '하루 단위로 변환'과정을 여기서 job으로 만드는듯
- job 10: union()로 새로운 Stage 생성
- job 11: groupBy로 새로운 Stage 생성
- job 12: orderBy()로 새로운 Stage 생성
- job 13: print()함

In [92]:
for date, total_count, total_fee in groupby_date_rdd.collect():
    print(f"Date: {date}, Total Count: {total_count}")

Date: 2022-05-01, Total Count: 93332
Date: 2022-05-02, Total Count: 89644
Date: 2022-05-03, Total Count: 114348
Date: 2022-05-04, Total Count: 119171
Date: 2022-05-05, Total Count: 125006
Date: 2022-05-06, Total Count: 118909
Date: 2022-05-07, Total Count: 110531
Date: 2022-05-08, Total Count: 97405
Date: 2022-05-09, Total Count: 102645
Date: 2022-05-10, Total Count: 115402
Date: 2022-05-11, Total Count: 121332
Date: 2022-05-12, Total Count: 126287
Date: 2022-05-13, Total Count: 122530
Date: 2022-05-14, Total Count: 118204
Date: 2022-05-15, Total Count: 100066
Date: 2022-05-16, Total Count: 108367
Date: 2022-05-17, Total Count: 117256
Date: 2022-05-18, Total Count: 119464
Date: 2022-05-19, Total Count: 122227
Date: 2022-05-20, Total Count: 117451
Date: 2022-05-21, Total Count: 116530
Date: 2022-05-22, Total Count: 95210
Date: 2022-05-23, Total Count: 105349
Date: 2022-05-24, Total Count: 115522
Date: 2022-05-25, Total Count: 116369
Date: 2022-05-26, Total Count: 115676
Date: 2022-05-27, Total Count: 104745
Date: 2022-05-28, Total Count: 93731
Date: 2022-05-29, Total Count: 86587
Date: 2022-05-30, Total Count: 78275
Date: 2022-06-01, Total Count: 115762
Date: 2022-06-02, Total Count: 118799
Date: 2022-06-03, Total Count: 117611
Date: 2022-06-04, Total Count: 115949
Date: 2022-06-05, Total Count: 96315
Date: 2022-06-06, Total Count: 106826
Date: 2022-06-07, Total Count: 120897
Date: 2022-06-08, Total Count: 122568
Date: 2022-06-09, Total Count: 125691
Date: 2022-06-10, Total Count: 121225
Date: 2022-06-11, Total Count: 114363
Date: 2022-06-12, Total Count: 93394
Date: 2022-06-13, Total Count: 112380
Date: 2022-06-14, Total Count: 118506
Date: 2022-06-15, Total Count: 123502
Date: 2022-06-16, Total Count: 121823
Date: 2022-06-17, Total Count: 117814
Date: 2022-06-18, Total Count: 109173
Date: 2022-06-19, Total Count: 92500
Date: 2022-06-20, Total Count: 95414
Date: 2022-06-21, Total Count: 114753
Date: 2022-06-22, Total Count: 116256
Date: 2022-06-23, Total Count: 122978
Date: 2022-06-24, Total Count: 117278
Date: 2022-06-25, Total Count: 112538
Date: 2022-06-26, Total Count: 86624
Date: 2022-06-27, Total Count: 98803
Date: 2022-06-28, Total Count: 108398
Date: 2022-06-29, Total Count: 110288
Date: 2022-07-01, Total Count: 96174
Date: 2022-07-02, Total Count: 82619
Date: 2022-07-03, Total Count: 71046
Date: 2022-07-04, Total Count: 60590
Date: 2022-07-05, Total Count: 90130
Date: 2022-07-06, Total Count: 99252
Date: 2022-07-07, Total Count: 103369
Date: 2022-07-08, Total Count: 99195
Date: 2022-07-09, Total Count: 90726
Date: 2022-07-10, Total Count: 80083
Date: 2022-07-11, Total Count: 93179
Date: 2022-07-12, Total Count: 107909
Date: 2022-07-13, Total Count: 112792
Date: 2022-07-14, Total Count: 112877
Date: 2022-07-15, Total Count: 105816
Date: 2022-07-16, Total Count: 101323
Date: 2022-07-17, Total Count: 86372
Date: 2022-07-18, Total Count: 92389
Date: 2022-07-19, Total Count: 109378
Date: 2022-07-20, Total Count: 112778
Date: 2022-07-21, Total Count: 110585
Date: 2022-07-22, Total Count: 104158
Date: 2022-07-23, Total Count: 98449
Date: 2022-07-24, Total Count: 86263
Date: 2022-07-25, Total Count: 90890
Date: 2022-07-26, Total Count: 105286
Date: 2022-07-27, Total Count: 109986
Date: 2022-07-28, Total Count: 111031
Date: 2022-07-29, Total Count: 104737
Date: 2022-07-30, Total Count: 95794
Date: 2022-08-01, Total Count: 87774
Date: 2022-08-02, Total Count: 103391
Date: 2022-08-03, Total Count: 105599
Date: 2022-08-04, Total Count: 107488
Date: 2022-08-05, Total Count: 102717
Date: 2022-08-06, Total Count: 100205
Date: 2022-08-07, Total Count: 82595
Date: 2022-08-08, Total Count: 93146
Date: 2022-08-09, Total Count: 106919
Date: 2022-08-10, Total Count: 80721
Date: 2022-08-11, Total Count: 108679
Date: 2022-08-12, Total Count: 102584
Date: 2022-08-13, Total Count: 95570
Date: 2022-08-14, Total Count: 81107
Date: 2022-08-15, Total Count: 88350
Date: 2022-08-16, Total Count: 99737
Date: 2022-08-17, Total Count: 102284
Date: 2022-08-18, Total Count: 104246
Date: 2022-08-19, Total Count: 100018
Date: 2022-08-20, Total Count: 95600
Date: 2022-08-21, Total Count: 81761
Date: 2022-08-22, Total Count: 87320
Date: 2022-08-23, Total Count: 100711
Date: 2022-08-24, Total Count: 103442
Date: 2022-08-25, Total Count: 104500
Date: 2022-08-26, Total Count: 100912
Date: 2022-08-27, Total Count: 98315
Date: 2022-08-28, Total Count: 83119
Date: 2022-08-29, Total Count: 87339
Date: 2022-08-30, Total Count: 99309

# 하루의 통 수익 계산

- job 14 해당
- job 14: print()함

In [93]:
for date, total_count, total_fee in groupby_date_rdd.collect():
    print(f"Date: {date}, Total Fee: {total_fee}")

Date: 2022-05-01, Total Fee: 2348678.640000481
Date: 2022-05-02, Total Fee: 2167006.4300011224
Date: 2022-05-03, Total Fee: 2695469.619999525
Date: 2022-05-04, Total Fee: 2779941.249999259
Date: 2022-05-05, Total Fee: 2976566.919998659
Date: 2022-05-06, Total Fee: 2820044.0299989334
Date: 2022-05-07, Total Fee: 2444765.4600002267
Date: 2022-05-08, Total Fee: 2348931.5500006084
Date: 2022-05-09, Total Fee: 2487003.3600002327
Date: 2022-05-10, Total Fee: 2725806.8099994455
Date: 2022-05-11, Total Fee: 2860515.179999027
Date: 2022-05-12, Total Fee: 3034773.3099984694
Date: 2022-05-13, Total Fee: 2978493.229998475
Date: 2022-05-14, Total Fee: 2764630.109999187
Date: 2022-05-15, Total Fee: 2526912.670000028
Date: 2022-05-16, Total Fee: 2651111.2099997187
Date: 2022-05-17, Total Fee: 2963292.359998764
Date: 2022-05-18, Total Fee: 2990094.2199986842
Date: 2022-05-19, Total Fee: 3075315.3999983696
Date: 2022-05-20, Total Fee: 2928241.229998664
Date: 2022-05-21, Total Fee: 2818106.8999989484
Date: 2022-05-22, Total Fee: 2441686.3600002225
Date: 2022-05-23, Total Fee: 2635075.229999704
Date: 2022-05-24, Total Fee: 2790546.909999248
Date: 2022-05-25, Total Fee: 2850364.919999045
Date: 2022-05-26, Total Fee: 2835913.819999071
Date: 2022-05-27, Total Fee: 2536587.629999987
Date: 2022-05-28, Total Fee: 2195220.680001059
Date: 2022-05-29, Total Fee: 2107239.3800012637
Date: 2022-05-30, Total Fee: 1983713.8000011374
Date: 2022-06-01, Total Fee: 2737001.289999264
Date: 2022-06-02, Total Fee: 2861548.569999073
Date: 2022-06-03, Total Fee: 2837212.239998933
Date: 2022-06-04, Total Fee: 2657265.4999995143
Date: 2022-06-05, Total Fee: 2441539.920000285
Date: 2022-06-06, Total Fee: 2604811.369999861
Date: 2022-06-07, Total Fee: 2874698.989998959
Date: 2022-06-08, Total Fee: 2948657.809998717
Date: 2022-06-09, Total Fee: 3085436.989998373
Date: 2022-06-10, Total Fee: 2975132.479998467
Date: 2022-06-11, Total Fee: 3087346.3099978403
Date: 2022-06-12, Total Fee: 2382158.070000417
Date: 2022-06-13, Total Fee: 2739170.219999486
Date: 2022-06-14, Total Fee: 2865751.8399989493
Date: 2022-06-15, Total Fee: 3018057.559998572
Date: 2022-06-16, Total Fee: 2938180.7099988256
Date: 2022-06-17, Total Fee: 2909384.4099986884
Date: 2022-06-18, Total Fee: 2556193.469999872
Date: 2022-06-19, Total Fee: 2273725.270000769
Date: 2022-06-20, Total Fee: 2376811.140000527
Date: 2022-06-21, Total Fee: 2759917.1099993633
Date: 2022-06-22, Total Fee: 2788464.8299991474
Date: 2022-06-23, Total Fee: 3022178.069998597
Date: 2022-06-24, Total Fee: 2877807.5399988466
Date: 2022-06-25, Total Fee: 2640221.5199995795
Date: 2022-06-26, Total Fee: 2232348.7200008146
Date: 2022-06-27, Total Fee: 2428089.130000431
Date: 2022-06-28, Total Fee: 2584336.999999957
Date: 2022-06-29, Total Fee: 2597763.3399998285
Date: 2022-07-01, Total Fee: 2290467.94000082
Date: 2022-07-02, Total Fee: 1889235.4700012465
Date: 2022-07-03, Total Fee: 1682062.0800010117
Date: 2022-07-04, Total Fee: 1516037.7300007406
Date: 2022-07-05, Total Fee: 2143928.1900012605
Date: 2022-07-06, Total Fee: 2284351.830000832
Date: 2022-07-07, Total Fee: 2393346.930000466
Date: 2022-07-08, Total Fee: 2325404.8500006604
Date: 2022-07-09, Total Fee: 2074798.1600013413
Date: 2022-07-10, Total Fee: 1988391.0000011283
Date: 2022-07-11, Total Fee: 2250161.560000921
Date: 2022-07-12, Total Fee: 2529419.5400001267
Date: 2022-07-13, Total Fee: 2668825.139999646
Date: 2022-07-14, Total Fee: 2689576.2399996133
Date: 2022-07-15, Total Fee: 2538843.6999999555
Date: 2022-07-16, Total Fee: 2356463.1000005403
Date: 2022-07-17, Total Fee: 2154248.640001109
Date: 2022-07-18, Total Fee: 2229590.53000096
Date: 2022-07-19, Total Fee: 2586553.0199999255
Date: 2022-07-20, Total Fee: 2659633.6499997186
Date: 2022-07-21, Total Fee: 2641258.469999698
Date: 2022-07-22, Total Fee: 2452163.0000003967
Date: 2022-07-23, Total Fee: 2228835.040000993
Date: 2022-07-24, Total Fee: 2086493.4400013043
Date: 2022-07-25, Total Fee: 2166016.7200011397
Date: 2022-07-26, Total Fee: 2494790.0100001767
Date: 2022-07-27, Total Fee: 2576370.479999929
Date: 2022-07-28, Total Fee: 2617164.5599997416
Date: 2022-07-29, Total Fee: 2512869.5699999854
Date: 2022-07-30, Total Fee: 2195992.720001002
Date: 2022-08-01, Total Fee: 2128620.8000012236
Date: 2022-08-02, Total Fee: 2378626.3800004898
Date: 2022-08-03, Total Fee: 2432551.980000306
Date: 2022-08-04, Total Fee: 2525490.919999967
Date: 2022-08-05, Total Fee: 2443456.4200002966
Date: 2022-08-06, Total Fee: 2295902.410000784
Date: 2022-08-07, Total Fee: 2022478.7300012216
Date: 2022-08-08, Total Fee: 2216371.660001056
Date: 2022-08-09, Total Fee: 2455506.230000347
Date: 2022-08-10, Total Fee: 1905734.4100010702
Date: 2022-08-11, Total Fee: 2585906.5599998767
Date: 2022-08-12, Total Fee: 2459285.430000204
Date: 2022-08-13, Total Fee: 2236195.930000912
Date: 2022-08-14, Total Fee: 2062753.220001173
Date: 2022-08-15, Total Fee: 2148915.50000118
Date: 2022-08-16, Total Fee: 2335923.380000662
Date: 2022-08-17, Total Fee: 2411470.2800003556
Date: 2022-08-18, Total Fee: 2493753.780000147
Date: 2022-08-19, Total Fee: 2416066.160000361
Date: 2022-08-20, Total Fee: 2248845.9500009282
Date: 2022-08-21, Total Fee: 2049824.940001195
Date: 2022-08-22, Total Fee: 2100617.310001351
Date: 2022-08-23, Total Fee: 2407967.8200004445
Date: 2022-08-24, Total Fee: 2438346.780000295
Date: 2022-08-25, Total Fee: 2492259.8500001547
Date: 2022-08-26, Total Fee: 2403336.5600004247
Date: 2022-08-27, Total Fee: 2292197.7000007774
Date: 2022-08-28, Total Fee: 2116991.20000117
Date: 2022-08-29, Total Fee: 2150344.0300011868
Date: 2022-08-30, Total Fee: 2327250.3900005496

In [82]:
# 스파크 세션 정리
spark.stop()